

atom-text-editor.editor {
  .syntax--gfm-todotxt.syntax--due {
    color: @text-color-warning;
  }
  .syntax--gfm-todotxt.syntax--list {
    color: @text-color-info;
    background-color: @background-color-highlight;
  }
  .syntax--gfm-todotxt.syntax--list-today {
    color: red;
  }
  .syntax--gfm-todotxt.syntax--list-done {
    color: gray;
    font-style: italic;
  }
  .syntax--gfm-todotxt.syntax--ykk {
    color: @text-color-info;
  }

  .syntax--gfm-todotxt.syntax--dotnote,
  .syntax--gfm-todotxt.syntax--dothandout {
    color: hsl(0, 0%, 43%);
  }

}

.imdone-atom .imdone-board-wrapper .imdone-board {
  ol[data-list="doing"] {
    li {
      border-width: 2px !important;
      border-color: blue !important;
    }
  }
  .list-name-wrapper {
    [data-list="today"], [data-list="doing"] {
      color: hsl(113, 100%, 26%);
    }
  }

  .task-overdue {
    font-weight: bold;
    background-color: red;
    color: white;
  }

  .task-due {
    color: red;
  }

  .task-coming-due {
    color: yellow;
  }

}
