

atom-text-editor::shadow {
  .gfm .gfm-todotxt.due {
    color: @text-color-warning;
  }
  .gfm .gfm-todotxt.list {
    color: @text-color-info;
    background-color: @background-color-highlight;
  }
}
