'name': 'gfm-todotxt'
'scopeName': 'text.gfm-todotxt'
'injectionSelector': 'source.gfm, text.plain, text.md'
'patterns': [
  # Date attributes
  {
    'match': '[a-z]+:\\d{4}-\\d{2}-\\d{2}'
    'name': 'gfm-todotxt.due'
  }

  # zip it up
  {
    'match': 'YKK'
    'name': 'gfm-todotxt.ykk'
  }

  {
    'match': '#(TODAY|today|waiting|WAITING):\\d{1,5}',
    'name': 'gfm-todotxt.list-today'
  }

  {
    'match': '#(DONE|done|didnt|dont):\\d{1,5} .*$',
    'name': 'gfm-todotxt.list-done'
  }

  # List or Board to place this item
  {
    'match': '#[a-zA-Z]+:\\d{1,5}',
    'name': 'gfm-todotxt.list'
  }

  # tags
  {
    'match': '(?<=^|\\s|"|\'|\\(|\\[)(@)(\\w[-\\w:]*)(?=[\\s"\'.,;\\)\\]])'
    'captures':
      '1':
        'name': 'variable.mention.gfm'
      '2':
        'name': 'string.username.gfm'
  }

  # notes for markdown slides
  {
    'match': '^\.note .*$'
    'name': 'gfm-todotxt.dotnote'
  }
  {
    'match': '^\.handout .*$'
    'name': 'gfm-todotxt.dothandout'
  }

  {
    'match': '^\.---.*$'
    'name': 'gfm-todotxt.fakebreak'
  }

  {
    'begin': '\\?{3}'
    'end': '\-{3}'
    'endCaptures':
      '0':
        'name': 'gfm-todotxt.remark-note-divider'
    'name': 'gfm-todotxt.remark-note'
  }


]
